################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Medchois/FileContentIndex
/UserManagementServices/bin/Debug/net7.0
/AdminManagementServices/obj
/.vs/Medchois/v17
/AppointmentManagementServices/obj
/DoctorManagementServices/obj
/PatientManagementServices/obj
/.vs/Medchois/DesignTimeBuild
/AdminManagementServices/bin/Debug/net7.0
/.vs
/AppointmentManagementServices/bin/Debug/net7.0
/DoctorManagementServices/bin/Debug/net7.0
/Medchois.DB/bin/Debug
/Medchois.DB/obj/Debug
/PatientManagementServices/bin/Debug/net7.0
/UserManagementServices/obj/Container
/Medchois.DB
/DoctorManagementServices/bin/Debug/net8.0
/PatientManagementServices/bin/Debug/net8.0
/UserManagementServices/obj/Debug/net8.0
/UserManagementServices/bin/Debug/net8.0
/PrescriptionManagementServices/bin/Debug/net8.0
/PrescriptionManagementServices/obj
/Medchois.UserManagementService/bin/Debug/net8.0
/Medchois.UserManagementService/obj
/UserManagementServices/obj
